{% set body_class = "home-page" %} {% extends "./_layout.html" %} {% block
content %}
<main class="main">
  
  <div class="home-hero">
    <picture>
        <source media="(max-width: 650px)" srcset="/images/16.png">
        <source media="(max-width: 999px)" srcset="/images/12.jpg">
        <source media="(min-width: 1000px)" srcset="/images/1.jpg">
        <img src="/images/1.jpg" alt="img">
    </picture>
    <a href="https://sfera.ua/brand/frekenbok" class="home-hero-btn" target="_blank">
      всі товари
    </a>
  </div>

  <div class="home-second">
    <div class="home-second-top">
      <div class="home-second-left">
        <div class="home-second-left-title">
          Відкрий у <br>собі шефа 
        </div>
        <div class="home-second-left-description">
          разом із Фрекен БОК
        </div>
      </div>
      <div class="home-second-right">
        <p>З 2020 року торгова марка «Фрекен БОК» є постійним партнером головного кулінарного проєкту країни «МастерШеф». Обличчям бренду є незмінний суддя реаліті – шеф-кухар, ресторатор, володар престижної кулінарної премії The World Master Chef Ектор Хіменес-Браво. Разом із Ектором ми створюємо смачні рецепти, які ти можеш втілити у життя. А відкрити у собі шефа тобі допоможе продукція Фрекен БОК.</p>
      </div>
    </div>
  </div>

  <div class="home-second">
    <div class="home-second-top">
      <div class="home-second-left">
        <div class="home-second-left-title">
          Готувати як шеф із Фрекен БОК – легко!
        </div>
      </div>
      <div class="home-second-right">
        <p>А чи знаєш ти, що у пергаменті можна варити? 
          А з пакетів-слайдерів зручно зробити конверт для декорування? Фрекен БОК допоможе обрати найкращі інструменти, щоб твої страви виходили щоразу як у шефа – і це було легко. 
          Адже дарувати радість про близьким – приємно. 
          </p>
        <p>А про решту потурбується Фрекен БОК.</p>
      </div>
    </div>
  </div>

  <div class="home-table">
    <div class="home-table-desktop">
      <div class="home-table-desktop-top">
        <div class="home-table-desktop-top-names"></div>
        <a href="https://sfera.ua/brand/frekenbok?cat=275" class="home-table-desktop-top-1">фольга</a>
        <a href="https://sfera.ua/brand/frekenbok?cat=274" class="home-table-desktop-top-2">рукав</a>
        <a href="https://sfera.ua/brand/frekenbok?cat=272" class="home-table-desktop-top-3">пергамент</a>
        <a href="https://sfera.ua/brand/frekenbok?cat=273" class="home-table-desktop-top-4">плівка</a>
        <a href="https://sfera.ua/brand/frekenbok?cat=268" class="home-table-desktop-top-5">Пакети із застібкою</a>
        <a href="https://sfera.ua/brand/frekenbok?cat=267" class="home-table-desktop-top-6">паперові рушники</a>
      </div>
      <div class="home-table-desktop-down">
        <div class="home-table-desktop-down-names">
          <div class="home-table-desktop-down-names-item">зберігання</div>
          <div class="home-table-desktop-down-names-item">запікання</div>
          <div class="home-table-desktop-down-names-item">випічка</div>
          <div class="home-table-desktop-down-names-item">варка</div>
          <div class="home-table-desktop-down-names-item">заморозка</div>
          <div class="home-table-desktop-down-names-item">сервіровка</div>
        </div>
        <div class="home-table-desktop-down-1">
          <div class="home-table-desktop-down-col-item">
            <img src="/images/icon1.svg" alt="i">
          </div>
          <div class="home-table-desktop-down-col-item">
            <img src="/images/icon1.svg" alt="i">
          </div>
          <div class="home-table-desktop-down-col-item"></div>
          <div class="home-table-desktop-down-col-item"></div>
          <div class="home-table-desktop-down-col-item"></div>
          <div class="home-table-desktop-down-col-item">
            <img src="/images/icon1.svg" alt="i">
          </div>
        </div>
        <div class="home-table-desktop-down-2">
          <div class="home-table-desktop-down-col-item"></div>
          <div class="home-table-desktop-down-col-item">
            <img src="/images/icon1.svg" alt="i">
          </div>
          <div class="home-table-desktop-down-col-item"></div>
          <div class="home-table-desktop-down-col-item"></div>
          <div class="home-table-desktop-down-col-item">
            <img src="/images/icon1.svg" alt="i">
          </div>
          <div class="home-table-desktop-down-col-item"></div>
        </div>
        <div class="home-table-desktop-down-3">
          <div class="home-table-desktop-down-col-item">
            <img src="/images/icon1.svg" alt="i">
          </div>
          <div class="home-table-desktop-down-col-item">
            <img src="/images/icon1.svg" alt="i">
          </div>
          <div class="home-table-desktop-down-col-item">
            <img src="/images/icon1.svg" alt="i">
          </div>
          <div class="home-table-desktop-down-col-item">
            <img src="/images/icon1.svg" alt="i">
          </div>
          <div class="home-table-desktop-down-col-item">
            <img src="/images/icon1.svg" alt="i">
          </div>
          <div class="home-table-desktop-down-col-item">
            <img src="/images/icon1.svg" alt="i">
          </div>
        </div>
        <div class="home-table-desktop-down-4">
          <div class="home-table-desktop-down-col-item">
            <img src="/images/icon1.svg" alt="i">
          </div>
          <div class="home-table-desktop-down-col-item"></div>
          <div class="home-table-desktop-down-col-item"></div>
          <div class="home-table-desktop-down-col-item"></div>
          <div class="home-table-desktop-down-col-item"></div>
          <div class="home-table-desktop-down-col-item"></div>
        </div>
        <div class="home-table-desktop-down-5">
          <div class="home-table-desktop-down-col-item">
            <img src="/images/icon1.svg" alt="i">
          </div>
          <div class="home-table-desktop-down-col-item"></div>
          <div class="home-table-desktop-down-col-item"></div>
          <div class="home-table-desktop-down-col-item">
            <img src="/images/icon1.svg" alt="i">
          </div>
          <div class="home-table-desktop-down-col-item">
            <img src="/images/icon1.svg" alt="i">
          </div>
          <div class="home-table-desktop-down-col-item"></div>
        </div>
        <div class="home-table-desktop-down-6">
          <div class="home-table-desktop-down-col-item"></div>
          <div class="home-table-desktop-down-col-item"></div>
          <div class="home-table-desktop-down-col-item"></div>
          <div class="home-table-desktop-down-col-item"></div>
          <div class="home-table-desktop-down-col-item"></div>
          <div class="home-table-desktop-down-col-item">
            <img src="/images/icon1.svg" alt="i">
          </div>
        </div>
      </div>
    </div>
    <div class="home-table-mob">
      <div class="home-table-mob-left">
        <div class="home-table-mob-left-top"></div>
        <div class="home-table-mob-left-down">
          <div class="home-table-mob-left-item">
            зберігання
          </div>
          <div class="home-table-mob-left-item">
            запікання
          </div>
          <div class="home-table-mob-left-item">
            випічка
          </div>
          <div class="home-table-mob-left-item">
            варка
          </div>
          <div class="home-table-mob-left-item">
            заморозка
          </div>
          <div class="home-table-mob-left-item">
            сервіровка
          </div>
        </div>
      </div>
      <div class="home-table-mob-slider-wrapper">
        <div class="home-table-mob-slider-arrows">
          <div class="slick-prev">
            <img src="/images/prev.svg" alt="i">
          </div>
          <div class="slick-next">
            <img src="/images/next.svg" alt="i">
          </div>
        </div>
        <div class="home-table-mob-slider">
          <div class="home-table-mob-slider-item">
            <a href="https://sfera.ua/brand/frekenbok?cat=275" class="home-table-mob-slider-item-name">
              фольга
            </a>
            <div class="home-table-mob-slider-item-col">
              <div class="home-table-mob-slider-item-el">
                <img src="/images/icon2.svg" alt="i">
              </div>
              <div class="home-table-mob-slider-item-el">
                <img src="/images/icon2.svg" alt="i">
              </div>
              <div class="home-table-mob-slider-item-el">
              </div>
              <div class="home-table-mob-slider-item-el">
              </div>
              <div class="home-table-mob-slider-item-el">
              </div>
              <div class="home-table-mob-slider-item-el">
                <img src="/images/icon2.svg" alt="i">
              </div>
            </div>
          </div>
          <a href="https://sfera.ua/brand/frekenbok?cat=274" class="home-table-mob-slider-item">
            <div class="home-table-mob-slider-item-name">
              рукав
            </div>
            <div class="home-table-mob-slider-item-col">
              <div class="home-table-mob-slider-item-el"></div>
              <div class="home-table-mob-slider-item-el"><img src="/images/icon2.svg" alt="i"></div>
              <div class="home-table-mob-slider-item-el"></div>
              <div class="home-table-mob-slider-item-el"></div>
              <div class="home-table-mob-slider-item-el"><img src="/images/icon2.svg" alt="i"></div>
              <div class="home-table-mob-slider-item-el"></div>
            </div>
          </a>
          <a href="https://sfera.ua/brand/frekenbok?cat=272" class="home-table-mob-slider-item">
            <div class="home-table-mob-slider-item-name">
              Пергамент
            </div>
            <div class="home-table-mob-slider-item-col">
              <div class="home-table-mob-slider-item-el"><img src="/images/icon2.svg" alt="i"></div>
              <div class="home-table-mob-slider-item-el"><img src="/images/icon2.svg" alt="i"></div>
              <div class="home-table-mob-slider-item-el"><img src="/images/icon2.svg" alt="i"></div>
              <div class="home-table-mob-slider-item-el"><img src="/images/icon2.svg" alt="i"></div>
              <div class="home-table-mob-slider-item-el"><img src="/images/icon2.svg" alt="i"></div>
              <div class="home-table-mob-slider-item-el"><img src="/images/icon2.svg" alt="i"></div>
            </div>
          </a>
          <a href="https://sfera.ua/brand/frekenbok?cat=273" class="home-table-mob-slider-item">
            <div class="home-table-mob-slider-item-name">
              Плівка
            </div>
            <div class="home-table-mob-slider-item-col">
              <div class="home-table-mob-slider-item-el"><img src="/images/icon2.svg" alt="i"></div>
              <div class="home-table-mob-slider-item-el"></div>
              <div class="home-table-mob-slider-item-el"></div>
              <div class="home-table-mob-slider-item-el"></div>
              <div class="home-table-mob-slider-item-el"></div>
              <div class="home-table-mob-slider-item-el"></div>
            </div>
          </a>
          <a href="https://sfera.ua/brand/frekenbok?cat=268" class="home-table-mob-slider-item">
            <div class="home-table-mob-slider-item-name">
              Пакет із застібкою
            </div>
            <div class="home-table-mob-slider-item-col">
              <div class="home-table-mob-slider-item-el"><img src="/images/icon2.svg" alt="i"></div>
              <div class="home-table-mob-slider-item-el"></div>
              <div class="home-table-mob-slider-item-el"></div>
              <div class="home-table-mob-slider-item-el"><img src="/images/icon2.svg" alt="i"></div>
              <div class="home-table-mob-slider-item-el"><img src="/images/icon2.svg" alt="i"></div>
              <div class="home-table-mob-slider-item-el"></div>
            </div>
          </a>
          <a href="https://sfera.ua/brand/frekenbok?cat=267" class="home-table-mob-slider-item">
            <div class="home-table-mob-slider-item-name">
              Паперові рушники
            </div>
            <div class="home-table-mob-slider-item-col">
              <div class="home-table-mob-slider-item-el"></div>
              <div class="home-table-mob-slider-item-el"></div>
              <div class="home-table-mob-slider-item-el"></div>
              <div class="home-table-mob-slider-item-el"></div>
              <div class="home-table-mob-slider-item-el"></div>
              <div class="home-table-mob-slider-item-el"><img src="/images/icon2.svg" alt="i"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="home-second">
    <div class="home-second-top">
      <div class="home-second-left">
        <div class="home-second-left-title">
          Готувати як шеф із Фрекен БОК – легко!
        </div>
      </div>
      <div class="home-second-right">
      </div>
    </div>
  </div>

  <div class="home-products">
    <a href="https://sfera.ua/brand/frekenbok?cat=275" class="home-products-item">
      <div class="home-products-item-image">
        <img src="/images/2.jpg" alt="i">
      </div>
      <div class="home-products-item-name">
        фольга
      </div>
    </a>
    <a href="https://sfera.ua/brand/frekenbok?cat=272" class="home-products-item">
      <div class="home-products-item-image">
        <img src="/images/3.jpg" alt="i">
      </div>
      <div class="home-products-item-name">
        пергамент
      </div>
    </a>
    <a href="https://sfera.ua/brand/frekenbok?cat=268" class="home-products-item">
      <div class="home-products-item-image">
        <img src="/images/4.jpg" alt="i">
      </div>
      <div class="home-products-item-name">
        Пакети для зберігання та заморозки
      </div>
    </a>
    <a href="https://sfera.ua/brand/frekenbok?cat=274" class="home-products-item">
      <div class="home-products-item-image">
        <img src="/images/5.jpg" alt="i">
      </div>
      <div class="home-products-item-name">
        Рукав для запікання
      </div>
    </a>
    <a href="https://sfera.ua/brand/frekenbok?cat=273" class="home-products-item">
      <div class="home-products-item-image">
        <img src="/images/6.jpg" alt="i">
      </div>
      <div class="home-products-item-name">
        Плівка
      </div>
    </a>
    <a href="https://sfera.ua/brand/frekenbok?cat=279%2C31" class="home-products-item">
      <div class="home-products-item-image">
        <img src="/images/17.png" alt="i">
      </div>
      <div class="home-products-item-name">
       Губки та серветки
      </div>
    </a>
    <a href="https://sfera.ua/brand/frekenbok?cat=32" class="home-products-item">
      <div class="home-products-item-image">
        <img src="/images/8.jpg" alt="i">
      </div>
      <div class="home-products-item-name">
        Пакети для сміття
      </div>
    </a>
    <a href="https://sfera.ua/brand/frekenbok?cat=267" class="home-products-item">
      <div class="home-products-item-image">
        <img src="/images/9.jpg" alt="i">
      </div>
      <div class="home-products-item-name">
        Рушники
      </div>
    </a>
  </div>

  <div class="home-about">
    <div class="home-about-title">
      Про Фрекен БОК
    </div>
    <div class="home-about-container">
      <div class="home-about-left">
        <p><em>Фрекен БОК</em> – це флагманська торгова марка української корпорації «Біосфера», що представлена на ринку понад 20 років. За цей час продукція бренду завоювала широке визнання і низку нагород вищої категорії на престижних конкурсах, завдяки інноваціям та незмінно високій якості.</p>
        <p><em>Фрекен БОК</em> – це соціально-орієнтований бренд, який прагне зробити споживачів щасливими, формуючи культуру турботи та любові до своїх близьких.</p>
        <p>Найвідоміший шеф-кухар в Україні <em>Ектор Хіменес Браво</em> є амбасадором бренду Фрекен БОК. Разом ми створюємо неймовірні рецепти, і легендарний шеф високо цінує нашу продукцію, що завжди допомагає йому у приготуванні кулінарних шедеврів. Спробуй і ти відкрити у собі шефа – разом із Фрекен БОК.</p>
      </div>
      <div class="home-about-right">
        <picture>
            <source media="(max-width: 650px)" srcset="/images/15.jpg">
            <source media="(max-width: 999px)" srcset="/images/14.jpg">
            <source media="(min-width: 1000px)" srcset="/images/11.jpg">
            <img src="/images/11.jpg" alt="img">
        </picture>
      </div>
    </div>
    <div class="home-about-bottom-text">
      Більше авторських рецептів на нашому <a href="https://www.youtube.com/watch?v=R6wcYtkm3Y4&list=PLrQ0Be7ym95ZWUfVFMcnwBx3-3Vtz-OPn">youtube</a>
    </div>
  </div>
   
  {% include './components/_footer.html' %}
</main>

{% endblock %} {% block footer_scripts %} {% endblock %}
