<footer class="footer">
  <div class="footer-left">
    <div class="footer-left-logo">
      <img src="/images/logo.png" alt="i">
    </div>
    <div class="footer-product">
      <div class="footer-product-top">
        Продукти
      </div>
      <div class="footer-product-container">
        <div class="footer-product-container-col">
          <a href="https://sfera.ua/brand/frekenbok?cat=275">Фольга</a>
          <a href="https://sfera.ua/brand/frekenbok?cat=272">Пергамент</a>
          <a href="https://sfera.ua/brand/frekenbok?cat=274">Рукав для запікання</a>
          <a href="https://sfera.ua/brand/frekenbok?cat=273">Плівка</a>
        </div>
        <div class="footer-product-container-col">
          <a href="https://sfera.ua/brand/frekenbok?cat=279%2C31">Губки та серветки</a>
          <a href="https://sfera.ua/brand/frekenbok?cat=32">Пакети для сміття</a>
          <a href="https://sfera.ua/brand/frekenbok?cat=267">Рушники</a>
          <a href="https://sfera.ua/brand/frekenbok?cat=268">Пакети для зберігання та заморозки</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-right">
    <div class="footer-social">
      <div class="footer-social-top">
        Cоцмережі
      </div>
      <div class="footer-social-links">
        <a href="https://www.facebook.com/TMFrekenBok">
          <img src="/images/fb.svg" alt="i">
        </a>
        <a href="https://www.youtube.com/@Frekken_BOK">
          <img src="/images/yt.svg" alt="i">
        </a>
        <a href="https://www.instagram.com/frekenbok_ukraine/">
          <img src="/images/inst.svg" alt="i">
        </a>
        <a href="https://www.tiktok.com/@frekenbok_ukraine">
          <img src="/images/tik.svg" alt="i">
        </a>
      </div>
    </div>
  </div>
</footer>
