<header class="header">
  <div class="header-inner">
    <a href="/" class="header-logo">
        <img src="/images/logo1.svg" alt="i">
    </a>
    <div class="header-burger">
      <img src="/images/burger.svg" alt="i">
    </div>
    <div class="header-right">
      <div class="header-right-menu">
        <div class="header-right-menu-has">
          <div class="header-right-menu-has-title">школи</div>
          <img src="/images/arr4.svg" alt="i">
          <div class="header-right-menu-drop">
            <div class="header-right-menu-drop-category">
              <div class="header-right-menu-drop-category-name">
                Існуючі школи
              </div>
              <a href="/rcpo.html" class="header-right-menu-drop-item">
              <div class="header-right-menu-drop-item-name">
                Sense Паркові озера
              </div>
              <div class="header-right-menu-drop-item-bottom">
                <p>київ</p>
                <div class="header-right-menu-drop-item-bottom-circle"></div>
                <p>stem school</p>
              </div>
              </a>
              <a href="/" class="header-right-menu-drop-item">
              <div class="header-right-menu-drop-item-name">
                Sense <span>online</span>
              </div>
              <div class="header-right-menu-drop-item-bottom">
                <p>київ</p>
                <div class="header-right-menu-drop-item-bottom-circle"></div>
                <p>stem school</p>
              </div>
              </a>
            </div>
            <div class="header-right-menu-drop-category">
              <div class="header-right-menu-drop-category-name">
                Майбутні школи
              </div>
              <a href="/" class="header-right-menu-drop-item">
              <div class="header-right-menu-drop-item-name">
                Sense Lucky Land
              </div>
              <div class="header-right-menu-drop-item-bottom">
                <p>київ</p>
                <div class="header-right-menu-drop-item-bottom-circle"></div>
                <p>stem school</p>
              </div>
              </a>
            </div>
          </div>
        </div>
        <div class="header-right-menu-has">
          <div class="header-right-menu-has-title">позашкільні форми</div>
          <img src="/images/arr4.svg" alt="i">
          <div class="header-right-menu-drop">
           <div class="header-right-menu-drop-category">
              <a href="/" class="header-right-menu-drop-item">
              <div class="header-right-menu-drop-item-name">
                Гуртки та Студії
              </div>
              </a>
            </div>
           <div class="header-right-menu-drop-category">
              <a href="/" class="header-right-menu-drop-item">
              <div class="header-right-menu-drop-item-name">
                Спорт Секції
              </div>
              </a>
            </div>
          </div>
        </div>
        <a href="/" class="header-right-menu-item">дитячий садок</a>
        <a href="/" class="header-right-menu-item">контакти</a>
        <div class="header-right-menu-has">
          <div class="header-right-menu-has-title">ще</div>
          <img src="/images/arr4.svg" alt="i">
          <div class="header-right-menu-drop">
            <div class="header-right-menu-drop-category">
              <a href="/" class="header-right-menu-drop-item">
              <div class="header-right-menu-drop-item-name">
                про нас
              </div>
              </a>
            </div>
           <div class="header-right-menu-drop-category">
              <a href="/" class="header-right-menu-drop-item">
              <div class="header-right-menu-drop-item-name">
                освітні підходи
              </div>
              </a>
            </div>
           <div class="header-right-menu-drop-category">
              <a href="/" class="header-right-menu-drop-item">
              <div class="header-right-menu-drop-item-name">
                Команда
              </div>
              </a>
            </div>
           <div class="header-right-menu-drop-category">
              <a href="/" class="header-right-menu-drop-item">
              <div class="header-right-menu-drop-item-name">
                вакансії
              </div>
              </a>
            </div>
           <div class="header-right-menu-drop-category">
              <a href="/" class="header-right-menu-drop-item">
              <div class="header-right-menu-drop-item-name">
                faq
              </div>
              </a>
            </div>
           <div class="header-right-menu-drop-category">
              <a href="/" class="header-right-menu-drop-item">
              <div class="header-right-menu-drop-item-name">
                контакти
              </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="header-sign-btn">
        записатися
      </div>
    </div>
  </div>
</header>
